@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);



#postdiv {
  height:100vh;
  font-family: 'Lato', sans-serif;
  /*background: #e2dedb;
  */
  background-image: url("https://images.unsplash.com/photo-1494707924465-e1426acb48cb?dpr=1&auto=compress,format&fit=crop&w=1950&h=&q=80&cs=tinysrgb&crop=");
  color: #b3aca7;
}

#postdivSub{
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
header {
  position: relative;
  margin: 0 0 0 0;
  font-size: 4.3em;
  text-align: center;
  letter-spacing: 7px;
  color:   #d8d8d8;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  /*background: transparent;*/
  outline: none;
  color: #000000;

  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  /*background: transparent;*/
  outline: none;

  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 470px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #ffffff;

  background-color: #799ac3;
  outline:none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #000000;
}
